

:root {
  --accent-primary-1: #2c0099;
  --secondary-color-1: #ff71e4;
}


* {
    font-family: 'Onst', sans-serif;
  }


.primary-button {
  background-color: var(--accent-primary-1);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.primary-button:hover {
  background-color: var(--secondary-color-1);
}

.secondary-button {
  background-color: white;
  color: var(--accent-primary-1);
  border: solid, var(--accent-primary-1), 2px;
  padding: 12px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.secondary-button:hover {
  background-color: var(--secondary-color-1);
}